.rs-17 .rs-portfolio-slider {
    background: #fff;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 35px;
}
.rs-17 .rs-portfolio-slider .section-title {
    margin-top: 13px;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    color: #000;
    text-transform: uppercase;
}
.rs-17 .rs-portfolio-slider .section-title span {
    color: #e53935;
}
.rs-17 .rs-portfolio-slider .section-descr {
    width: 650px;
    text-align: center;
    margin: 45px auto 85px;
    position: relative;
}
.rs-17 .rs-portfolio-slider .section-descr:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 100%;
    background: #edeef0;
    top: -22px;
    left: 0;
    right: 0;
}
.rs-17 .rs-portfolio-slider .section-descr:after {
    content: '';
    position: absolute;
    height: 7px;
    width: 100%;
    background: #edeef0;
    bottom: -26px;
    left: 0;
    right: 0;
}

.rs-17 .rs-portfolio-slider .section-descr p {
    font-size: 14px;
    color: #000;
    text-align: center;
}
.rs-17 .rs-portfolio-slider #examples-slider {
    padding: 0 80px;
}
.rs-17 .rs-portfolio-slider .example {
    border: 4px solid #f2f2f2;
    padding: 15px;
    min-height: 500px;
}
.rs-17 .rs-portfolio-slider .example img {
    display: inline-block;
	width: auto;
    min-height: 233px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rs-17 .rs-portfolio-slider .example-info {
	font-weight: 700;
    text-align: left;
	color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.rs-17 .rs-portfolio-slider .example-info a {
    text-decoration: none;
}
.rs-17 .rs-portfolio-slider .example-info h3 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    min-height: 40px;
}
.rs-17 .rs-portfolio-slider .example-info p {
    color: #585858;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 22px;
    min-height: 118px;
}
.rs-17 .rs-portfolio-slider .example-slider-left,
.rs-17 .rs-portfolio-slider .example-slider-right {
    position: absolute;
    top: 41%;
    height: 40px;
    width: 40px;
    background-color: #e53935;
    border-radius: 1px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rs-17 .rs-portfolio-slider .example-slider-left i,
.rs-17 .rs-portfolio-slider .example-slider-right i {
    font-size: 20px;
    position: absolute;
    top: 57%;
    left: 58%;
    line-height: 45px;
    margin-top: -25px;
}
.rs-17 .rs-portfolio-slider .example-slider-left i {
    margin-left: -8px;
}
.rs-17 .rs-portfolio-slider .example-slider-right i {
    margin-left: -6px;
}
.rs-17 .rs-portfolio-slider .example-slider-left {
    left: 0;
}
.rs-17 .rs-portfolio-slider .example-slider-right {
    right: 0;
}
.rs-17 .rs-portfolio-slider .example-slider-left:hover,
.rs-17 .rs-portfolio-slider .example-slider-right:hover {
    background-color: #b72d2a;
}

.rs-17 .rs-portfolio-slider .owl-dots {
    margin-top: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.rs-17 .rs-portfolio-slider .owl-dot {
    display: inline-block;
    vertical-align: middle;
}
.rs-17 .rs-portfolio-slider .owl-dots span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #f29e9c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.rs-17 .rs-portfolio-slider .owl-dot {
    display: inline-block;
    vertical-align: middle;
}
.rs-17 .rs-portfolio-slider .owl-dot.active span {
    background: #e53935;
}

.rs-17 .rs-portfolio-slider .example .btn-color {
    background-color: #e53935;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    font-size: 11.5px;
    text-decoration: none;
    padding: 6px 21px;
}
.rs-17 .rs-portfolio-slider .example .btn-color:hover {
    background-color: #b72d2a;
}

@media (max-width: 1200px){
	.rs-17 .rs-portfolio-slider .container {
		padding-left: 0;
		padding-right: 0;
	}
    .rs-17 .rs-portfolio-slider .example {
        min-height: auto;
    }
    .rs-17 .rs-portfolio-slider .example img {
        min-height: auto;
    }
}
@media (max-width: 767px){
	.rs-17 .rs-portfolio-slider .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-portfolio-slider .section-descr{
		width: 100%;
	}
	.rs-17 .rs-portfolio-slider .example-slider-left,
	.rs-17 .rs-portfolio-slider .example-slider-right {
		width: 40px;
	}
	.rs-17 .rs-portfolio-slider .example-slider-right i {
		margin-left: -7px;
	}
	.rs-17 .rs-portfolio-slider .example-slider-left i {
		margin-left: -9px;
	}
	.rs-17 .rs-portfolio-slider {
        /*padding-top: 15px;
        padding-bottom: 35px;*/
    }
}
@media (max-width: 450px){
    .rs-17 .rs-portfolio-slider .example {
        padding: 10px;
    }
    .rs-17 .rs-portfolio-slider .example-info h3 {
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 15px;
    }
    .rs-17 .rs-portfolio-slider .example .btn-color {
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }
    .rs-17 .rs-portfolio-slider .section-descr {
        margin: 45px auto 60px;
    }
}
@media (max-width: 510px) {
	.rs-17 .rs-portfolio-slider .owl-next,
	.rs-17 .rs-portfolio-slider .owl-prev {
		display: none;
	}
	.rs-17 .rs-portfolio-slider #examples-slider {
		padding: 0;
	}

}