.rs-17 .rs-tabs{
	padding-top: 0;
	padding-bottom: 20px;
}
.rs-17 .rs-tabs .section-title{
	position: relative;
	margin-top: 0;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
}
.rs-17 .rs-tabs .section-descr {    
    margin-bottom: 20px;
}
.rs-17 .rs-tabs .section-descr p {
    /* font-size: 18px; */
    /* color: #616161; */
    /* text-align: center; */
}
.rs-17 .rs-tabs .nav-pills{
	margin-bottom: 30px;
	margin-left:  0;
}
.rs-17 .rs-tabs .nav-stacked>li+li{
	margin-top: 4px;
}
.rs-17 .rs-tabs .nav-pills>li>a {
    background-color: #eeeeee;
	color: #424242;
}
.rs-17 .rs-tabs .nav-pills>li.active>a,
.rs-17 .rs-tabs .nav-pills>li.active>a:hover,
.rs-17 .rs-tabs .nav-pills>li.active>a:focus{
	background-color: #DA251C;
	color: #fff;
}
.rs-17 .rs-tabs p{
	line-height: 1.5;	
}
.rs-17 .rs-tabs img{
	/* border: 1px solid #cdcdcd; */
    /* padding: 7px; */
    /* border-radius: 4px; */
	/* margin-top: 15px; */
	margin-bottom: 15px;
}
.rs-17 .rs-tabs .float-right{
	float: right;
}
.rs-17 .rs-tabs .float-left{
	float: left;
}
.rs-17 .rs-tabs .table a{
	color: #424242;
}
@media (max-width: 991px){
	.rs-17 .rs-tabs .float-right{
		float: none;
	}
}
@media (max-width: 767px){
	.rs-17 .rs-tabs .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-tabs .section-descr{
		width: 100%;
	}
}