.rs-17 .rs-video-new {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}
.rs-17 .rs-video-new .bg-video {
    background-position: right -30px bottom 15px;
}
.rs-17 .rs-video-new .section-title {
    margin-top: 13px;
    font-size: 36px;
    font-weight: 300;
    position: relative;
    color: #212121;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.rs-17 .rs-video-new .video-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 17px;
    min-height: 350px;
}
.rs-17 .rs-video-new .video-item h3 {
    text-align: center;
    margin: 15px;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .rs-17 .rs-video-new .video-item iframe {
        width: 100% !important;
    }
}
@media (max-width: 991px) {
    .rs-17 .rs-video-new .video-item {
        min-height: 370px;
    }
}