.rs-17 .rs-features .section-title--text {
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    background-color: transparent;
    width: auto;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.rs-17 .rs-features{
	padding-top: 25px;
	clear: both;
	/* background:#f7f8fa ; */
	padding-bottom: 15px;
}
.rs-17 .rs-features.index-page{
	padding-top:0;
}
.rs-17 .rs-features .section-title{
	position: relative;
    margin-top: 33px;
}
.rs-17 .rs-features .section-title--text {
    display: inline-block;
    font-size: 36px;
    font-weight: 400; 
}

.rs-17 .rs-features .feature-block{
	display: inline-block;
	float: none;
	vertical-align: top;
	margin-left: -4px;
}
.rs-17 .rs-features .feature-item{
	text-align: center;
	margin-bottom: 40px;
}
.rs-17 .rs-features .feature-item h4{
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0;
	font-size:  18px;
}
.rs-17 .rs-features .feature-item p{
	color: #616161;
}
.rs-17 .rs-features .feature-item--icon{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	
}
.rs-17 .rs-features .feature-item--icon img{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	margin: 0 auto;
	-webkit-filter: grayscale(100%) contrast(0);
    -moz-filter: grayscale(100%) contrast(0);
    -o-filter: grayscale(100%) contrast(0);
    -ms-filter: grayscale(100%) contrast(0);
    filter: grayscale(100%) contrast(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.rs-17 .rs-features .feature-item:hover img {
    -webkit-filter: grayscale(0) contrast(100%);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
}
@media (max-width: 767px){
	.rs-17 .rs-features .section-title--text{
		font-size: 25px;
	}
}