body {
    font-family: 'Open Sans', sans-serif !important; 
}

.rs-17 .rs-best-sellers {
    margin-bottom: 25px;
}

.rs-17 .rs-best-sellers a {
    transition: all 0.4s ease-out;
}

.rs-17 .rs-best-sellers .section-title {
	position: relative;
}
.rs-17 .rs-best-sellers .section-title--text {
	display: inline-block;
	font-size: 36px;
	font-weight: 300;
	background-color: #fff;
	width: auto;
	padding: 10px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
/*
.rs-17 .rs-best-sellers .section-title:after {
	background: #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 16%;
    position: absolute;
    top: 30px;
    width: 68%;
    z-index: 1;
}
*/
.rs-17 .rs-best-sellers .quickview {
	display: block;
	top: 50%;
	margin-top: -25px;
    max-height: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    visibility: hidden;
}

.rs-17 .rs-best-sellers #product-slider-bs {
	text-align: center;
	height: 0;
	margin-top: 20px;
	-moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
	overflow: hidden;
}
.rs-17 .rs-best-sellers #product-slider-bs.owl-loaded {
	height: auto;
	margin-top: 0;
}
.rs-17 .rs-best-sellers #product-slider-bs .product-item {
    margin: 30px 15px 25px;
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-dots {
	text-align: center;
	margin-top: 2px;
	display: inline-block;
	vertical-align: middle;
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-dot {
    display: inline-block;
	vertical-align: middle;
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-dots span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #cccccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-dot.active span {
	background: #757575;
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-prev,
.rs-17 .rs-best-sellers #product-slider-bs .owl-next {
	display: inline-block;
	cursor: pointer;
	font-size: 21px;
	color: #424242;
	vertical-align: middle;
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-prev {
	margin-right: 5px;
}
.rs-17 .rs-best-sellers #product-slider-bs .owl-next {
	margin-left: 5px;
}
.rs-17 .rs-best-sellers .product-item {
    display: block;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    margin-bottom: 15px;
    height: 475px;
}
.rs-17 .rs-best-sellers .product-item h3 {
    margin: 0;
	height: 45px;
    overflow: hidden;
    display: block;
    line-height: 21px;
    margin: 25px 0 5px;
    padding: 0;
}
.rs-17 .rs-best-sellers .product-item h3 a {
    font-weight: 700;
    color: #424242;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.rs-17 .rs-best-sellers .description {
	padding-left: 5px;
	padding-right: 5px;
}
.rs-17 .rs-best-sellers .description p {
    margin-top: 8px;
	color: #616161;
    font-size: 14px;
    height: 40px;
    line-height: 18px;
	overflow: hidden;
}

.rs-17 .rs-best-sellers .product {
    display: block;
	background: #fff;
    height: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    border: 1px solid #e0e0e0;
    text-align: center;
	overflow: hidden;
}
.rs-17 .rs-best-sellers .product:hover {
    border: 1px solid #121314;
}
.rs-17 .rs-best-sellers .product-image {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 240px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.rs-17 .rs-best-sellers .product-image a {
	display: block;
	height: 100%;
    overflow: hidden;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.rs-17 .rs-best-sellers .product:hover .product-image > a {
    -moz-transform: scale3d(1.1, 1.1, 1) rotate(-1.5deg);
    -ms-transform: scale3d(1.1, 1.1, 1) rotate(-1.5deg);
    -o-transform: scale3d(1.1, 1.1, 1) rotate(-1.5deg);
    -webkit-transform: scale3d(1.1, 1.1, 1) rotate(-1.5deg);
	transform: scale3d(1.1, 1.1, 1) rotate(-1.5deg);
}
.rs-17 .rs-best-sellers .promotion {
	list-style: none;
	padding: 0;
	margin: 0;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    height: 25px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.rs-17 .rs-best-sellers .promotion li {
	display: inline-block;
	margin-left: -4px;
}
.rs-17 .rs-best-sellers .promotion li:last-child {
	border-radius: 0 4px 4px 0;
}
.rs-17 .rs-best-sellers .new {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    padding: 3px 10px;
	background-color: #4ec67f;
}
.rs-17 .rs-best-sellers .discount {
    background: #e64c3c;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    padding: 3px 5px;
	text-transform: uppercase;
}
.rs-17 .rs-best-sellers  .price {
    font-size: 16px;
    font-weight:700;
    color: #424242;
	line-height: 1.7;
}
.rs-17 .rs-best-sellers   .sub-description {
	font-weight: 300;
	color: #616161;
	line-height: 1.7;
}
.rs-17 .rs-best-sellers  .sub-description p{
	margin: 0 auto;
}
.rs-17 .rs-best-sellers .action-control {
    border: 0;
    display: block;
    height: auto;
    padding: 5px 0 15px;
    width: 100%;
}
.rs-17 .rs-best-sellers .action-control .btn-color {
	box-shadow: 0 2px 0 rgba(0,0,0,.2);
}
.rs-17 .rs-best-sellers .product:hover .btn-quickview {
    visibility: visible;
    opacity: 0.85;
    -webkit-opacity: 0.85;
    -ms-opacity: 0.85;
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
}
@media (max-width: 767px) {
	.rs-17 .rs-best-sellers .section-title--text {
		font-size: 28px;
	}
}

/* стиль кнопки добавлен при редактировании дочерней темы */

.rs-17 .rs-best-sellers .btn-color {
    background-color: #121314;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    color: #fff;
    border: 1px solid transparent;
    padding: 6px 18px;
    white-space: normal;
}

.rs-17 .rs-best-sellers .btn-color:hover, 
.rs-17 .rs-best-sellers .btn-color:focus {
    background-color: #26292c;
    color: #fff;
    outline: none;
}

@media (max-width: 540px) {
    .rs-17 .rs-best-sellers #product-slider-bs .product-item  {
        margin-left: 0;
        margin-right: 0;
    }
}
