.rs-17 .rs-price{
	padding-top: 25px;
	padding-bottom: 35px;
	position: relative;
}
.rs-17 .rs-price #hidden-cf7 {
	position: absolute;
	left: -2000px;
}
.rs-17 .rs-price .section-title{
	text-transform: uppercase;
	position: relative;
	margin-top: 13px;
	font-size: 36px;
	font-weight: 300;
}
.rs-17 .rs-price .section-descr {
    width: 70%;
    text-align: center;
    margin: 20px auto 50px;
}
.rs-17 .rs-price .section-descr p {
    font-size: 18px;
    color: #616161;
    text-align: center;
}
.rs-17 .rs-price .price-row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rs-17 .rs-price .price-wrap{
	margin-bottom: 30px;	
}
.rs-17 .rs-price .price-inner{
	background-color: #fafafa;
	padding: 35px 0;
	height: 100%;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.rs-17 .rs-price .price-inner.special-block{
	background-color: #f44336;
}
.rs-17 .rs-price .price-inner.special-block .price-title{
	color: #fff;
}
.rs-17 .rs-price .price-inner.special-block .price-text{
	color: #fff;
}
.rs-17 .rs-price .price-inner.special-block .price-cost-round{
	background-color: #fff;
	color: #f44336;
}
.rs-17 .rs-price .price-inner.special-block .price-descr-list li{
	color: #fff;
	border-color: #fff;
}
.rs-17 .rs-price .price-inner.special-block .btn-outline{
	border-color: #fff;
    color: #fff;
	background-color: transparent;
}
.rs-17 .rs-price .price-inner:hover{
	background-color: #f44336;
	cursor: pointer;
}
.rs-17 .rs-price .price-title{
	text-transform: uppercase;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 300;
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
}
.rs-17 .rs-price .price-inner:hover .price-title{
	color: #fff;
	font-weight: 700;
}
.rs-17 .rs-price .price-text{
	text-align: center;
	margin-bottom: 25px;
}
.rs-17 .rs-price .price-inner:hover .price-text{
	color: #fff;
}
.rs-17 .rs-price .price-cost-round{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #f44336;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.rs-17 .rs-price .price-inner:hover .price-cost-round{
	background-color: #fff;
	color: #f44336;
}
.rs-17 .rs-price .price-cost{
	font-size: 30px;
	font-weight: 700;
	display: block;
	padding-top: 39px;
}
.rs-17 .rs-price .price-descr{
	margin-top: 25px;
}
.rs-17 .rs-price .price-descr-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.rs-17 .rs-price .price-descr-list li{
	border-bottom: 1px solid #e0e0e0;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	display: block;
}
.rs-17 .rs-price .price-inner:hover .price-descr-list li{
	color: #fff;
	border-color: #fff;
}
.rs-17 .rs-price .btn-outline{
	border-color: #9e9e9e;
    color: #616161;
    text-shadow: none;
    font-weight: 700;
}
.rs-17 .rs-price .price-more{
	text-align: center;
	margin-top: 30px;
}
.rs-17 .rs-price .price-inner:hover .btn-outline{
	border-color: #fff;
    color: #fff;
	background-color: transparent;
}


.rs-17 .rs-modal .wpcf7-form-control-wrapinput:focus, 
.rs-17 .rs-modal .wpcf7-form-control-wrap textarea:focus {
    border-color: #01579b;
    box-shadow: none;	
}

.rs-17 .rs-modal textarea {
	resize: vertical;
}

.rs-17 .rs-modal .wpcf7-response-output {
	color: green;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
    border-radius: 4px;
    background-color: #dff0d8;
    text-align: center;
    border: none;
    margin: 0;
}

.rs-17 .rs-modal .wpcf7-form-control-wrap input,
.rs-17 .rs-modal .wpcf7-form-control-wrap textarea {
	width: 100%;
    max-width: 100%;
    padding-left: 14px;
    background-color: #fff;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    outline: none;
    margin-bottom: 5px;	
}

.rs-17 .rs-modal .wpcf7-form-control-wrap input {
    height: 40px;	
}
.rs-17 .rs-modal .wpcf7-form-control-wrap textarea {
	height: 100px;
}

.rs-17 .rs-cf7-modal input[type="submit"] {
	width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #616161;
	border-radius: 4px;
	border: 1px solid #9e9e9e;
    font-weight: 700;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    background-color: #fff;
    outline: none;
}
.rs-17 .rs-cf7-modal input[type="submit"]:hover {
    background-color: #d4d4d4;	
}

.rs-17 .rs-cf7-modal .wpcf7-not-valid-tip {
	color: red;
    font-size: 13px;
    font-weight: 400;
}

.rs-17 form.wpcf7-form {
	margin-bottom: 0;
}

@media (max-width: 991px){
	.rs-17 .rs-price .price-row{
		display: block;
	}
	.rs-17 .rs-price .price-wrap{
		display: inline-block;
		float: none;
		vertical-align: top;
		margin-left: -4px;
}
@media (max-width: 767px){
	.rs-17 .rs-price .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-price .section-descr{
		width: 100%;
	}
	.rs-17 .rs-price .price-inner{
		max-width: 263px;
		margin: 0 auto 30px;
	}
}


