.rs-17 .rs-contacts{
	padding-top: 15px;
	padding-bottom: 35px;
}

.rs-17 .rs-contacts .bg-success {
    padding: 15px;
    border-radius: 4px;
}
.rs-17 .rs-contacts .success {
    color: green!important;
    font-weight: bold;
    margin-top: 10px;
}
.rs-17 .rs-contacts .section-title{
	position: relative;
	margin-top: 10px;
}
.rs-17 .rs-contacts .section-title--text{
	display: inline-block;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 400;
}

.rs-17 .rs-contacts h4{
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
}
.rs-17 .rs-contacts p{
	color: #616161;
	line-height: 21px;
}
.rs-17 .rs-contacts ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.rs-17 .rs-contacts ul li{
	padding-bottom: 1px;
}
.rs-17 .rs-contacts ul li,
.rs-17 .rs-contacts ul li a{
	color: #616161;
}
.rs-17 .rs-contacts .contacts-form{
	margin-top: 20px;
}
.rs-17 .rs-contacts .contacts-form .input-text,
.rs-17 .rs-contacts .contacts-form input[type=email],
.rs-17 .rs-contacts .contacts-form input[type=password],
.rs-17 .rs-contacts .contacts-form input[type=search],
.rs-17 .rs-contacts .contacts-form input[type=text],
.rs-17 .rs-contacts .contacts-form input[type=tel]
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
}
.rs-17 .rs-contacts .contacts-form  .form-group{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 18px;
}
.rs-17 .rs-contacts .contacts-form .checkbox label {
	padding-left: 0;
}
.rs-17 .rs-contacts .contacts-form .form-control{
	height: 40px;
}
.rs-17 .rs-contacts .contacts-form textarea.form-control{
	height: auto;
	resize: vertical;
}
.rs-17 .rs-contacts .contacts-form .form-control:focus {
    border-color: #01579b;
    outline: 0;
    box-shadow: none;
}
.rs-17 .rs-contacts .contacts-form .btn-color{
	text-align: left;
	background-color: #DA251C;
	padding: 10px 48px 10px 28px;
	text-transform: uppercase;
	box-shadow: none;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.rs-17 .rs-contacts .contacts-form .btn-color:hover  {
	background-color: #196FE4;
}
.rs-17 .rs-contacts .contacts-form .btn-color i{
	padding-left: 5px;
}
.rs-17 .rs-contacts .contacts-map{
	margin-top: 15px;
}
.rs-17 .rs-contacts .form-group input.error{
	position: relative;
}
.rs-17 .rs-contacts .form-group input.error,
.rs-17 .rs-contacts .form-group input.error:focus{
	border:1px solid #d80000;
}
.rs-17 .rs-contacts .form-group label.error{
	color: #d80000;
	font-size: 13px;
	font-weight: 400;
}
.rs-17 .rs-contacts .nav-tabs>li>a{
	text-transform: uppercase;
}
.rs-17 .rs-contacts .order-check{
	display: none;
}
.rs-17 .rs-contacts .tab-content input:checked  + .order-check{
	display: block;
}
.rs-17 .rs-contacts .tab-content{
	margin-top: 20px;
}
.rs-17 .rs-contacts .order-check{
	margin-top: 10px;
}
.rs-17 .rs-contacts .tab-content .radio label,
.rs-17 .rs-contacts .tab-content .checkbox label{
	margin-bottom: 5px;
    font-weight: bold;
	padding-left: 23px;
}
.rs-17 .rs-contacts .tab-content  label.error{
    font-weight: 400;
	color: #d80000;
	font-size: 13px;
}
.rs-17 .rs-contacts .tab-content .order-check  label{
	font-weight: 400;
	padding-left: 0;
}
.rs-17 .rs-contacts .tab-content .radio input[type="radio"]{
	left: 5px;
	margin-left: 0;
}
.rs-17 .rs-contacts .tab-content>.tab-pane{
	display: block;
	opacity: 0;
	height: 0;
	overflow: hidden;
}
.rs-17 .rs-contacts .tab-content>.active {
   opacity: 1;
   height: auto;
}
.rs-17 .rs-contacts .contacts-form .order-check .form-group{
	margin-bottom: 10px;
}
.rs-17 .rs-contacts .error-message{
	color: #a94442;
	padding: 10px;
	font-weight: bold;
}
.rs-17 .rs-contacts .footer-order{
	padding: 15px;
	background: #f3f3f3;
	margin-top: 30px;
}
.rs-17 .rs-contacts .cart-table{
	width: 100%;
}
.rs-17 .rs-contacts .cart-content{
	margin-top: 30px;
}
.rs-17 .rs-cart.rs-contacts .cart-mini-table{
	    margin-top: 0;
}
.rs-17 .rs-cart.rs-contacts .total-price{
	font-size: 20px;
    font-weight: bold;
	color: #424242;
}
.rs-17 .rs-cart.rs-contacts h4{
	text-transform: none;
}
.rs-17 .rs-cart.rs-contacts .btn-color{
	    padding: 15px 28px;
    text-transform: uppercase;
    box-shadow: none;
    font-weight: 700;
}
.rs-17 .rs-contacts .nav-tabs>li.active>a,
.rs-17 .rs-contacts .nav-tabs>li.active>a:hover,
.rs-17 .rs-contacts .nav-tabs>li.active>a:focus{
	background-color: #eee;
}
.rs-17 .rs-contacts input.error + .required_block{
	position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    border: 1px solid #ff0000;
    left: 3px;
    top: 9px;
}


@media (max-width: 480px){
	.rs-17 .rs-contacts .nav-tabs{
		border-bottom: none;
	}
	.rs-17 .rs-contacts .nav-tabs li{
		float: none;    
	}
	.rs-17 .rs-contacts .nav-tabs li a{
		border-bottom: 1px solid #ddd;
		    border-radius: 0;
	}
	
}

.rs-17 .rs-contacts .wpcf7-form-control-wrap {
	display: block;
	margin-top: 5px;
	width: 100%;
}

.rs-17 .rs-contacts .wpcf7-form-control-wrap textarea:focus {
	background-color: transparent;
}

.rs-17 .rs-contacts div.wpcf7-validation-errors {
	border: none;
}

.rs-17 .rs-contacts .wpcf7-response-output {
	color: green!important;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
    border-radius: 4px;
    background-color: #dff0d8;
    text-align: center;
    border: none;
    margin: 0;
}

.rs-17 .rs-contacts div.wpcf7-mail-sent-ok  {
	border: none;
}

.rs-17 .rs-contacts .contact-form-arrow {
	position: relative;
}
.rs-17 .rs-contacts .contact-form-arrow::before {

	/*content: "\279c";
	content: "\27a4";*/
	content: "\f061";
	color: white;
	font-size: 14px;
	width: 30px;
	height: 30px;	
	position: absolute;
	top: 9px;
	left: 230px;
	font-family: fontAwesome;
}