.rs-17 .rs-team .section-title--text {
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    background-color: transparent;
    width: auto;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.rs-17 .rs-team{
	background: #dbdbdb;
	background-size: cover;
	max-height:500px;
	min-height: 500px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.rs-17 .rs-team .section-title{
	position: relative;
	margin-top: 13px;
	font-size: 36px;
	font-weight: 300;
	color: #fff;
}
.rs-17 .rs-team .section-descr {
    width: 70%;
    text-align: center;
    margin: 20px auto 50px;
}
.rs-17 .rs-team .section-descr p {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.rs-17 .rs-team #team-slider {
    padding: 0 80px;
}
.rs-17 .rs-team .team{
	text-align: center;
}
.rs-17 .rs-team .team img {
    display: inline-block;
	width: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rs-17 .rs-team .team:hover img {
    opacity: 0.4;
}
.rs-17 .rs-team .team-info{
	font-weight: 700;
    text-align: center;
	color: #fff;
	opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform: translateY(78px);
    -webkit-transform: translateY(78px);
    -o-transform: translateY(78px);
    -ms-transform: translateY(78px);
    transform: translateY(78px);
}
.rs-17 .rs-team .team:hover .team-info {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.rs-17 .rs-team .team-info h3 {
    margin-bottom: 8px;
    margin-top: 15px;
	font-weight: 700;
    font-size: 24px;
	color: #fff;
}
.rs-17 .rs-team .team-info p{
	text-transform: uppercase;
}
.rs-17 .rs-team .team-slider-left,
.rs-17 .rs-team .team-slider-right {
    position: absolute;
    top: 0;
    height: 175px;
    width: 68px;
    background-color: rgba(82,97,101,.7);
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rs-17 .rs-team .team-slider-left i,
.rs-17 .rs-team .team-slider-right i {
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 45px;
    margin-top: -25px;
}
.rs-17 .rs-team .team-slider-left i {
    margin-left: -10px;
}
.rs-17 .rs-team .team-slider-right i {
    margin-left: -5px;
}
.rs-17 .rs-team .team-slider-left {
    left: 0;
}
.rs-17 .rs-team .team-slider-right {
    right: 0;
}
.rs-17 .rs-team .team-slider-left:hover,
.rs-17 .rs-team .team-slider-right:hover {
    background-color: #fff;
    color: #43575d;
}
@media (max-width: 767px){
	.rs-17 .rs-team .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-team .section-descr{
		width: 100%;
	}
	.rs-17 .rs-team .team-slider-left,
	.rs-17 .rs-team .team-slider-right {
		width: 40px;
	}
	.rs-17 .rs-team .team-slider-right i {
		margin-left: -7px;
	}
	.rs-17 .rs-team .team-slider-left i {
		margin-left: -9px;
	}
}