.rs-17 .rs-offers .offers-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.rs-17 .rs-offers .offers-list li{
	padding-top: 40px;
	padding-bottom: 40px;
}
.rs-17 .rs-offers .offers-list li:nth-child(1){
	background-color: #FAFAFA;
}
.rs-17 .rs-offers h2{
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
	letter-spacing: 1px;
}
.rs-17 .rs-offers h3{
	font-weight: 400;
	line-height:  1.3;
}
.rs-17 .rs-offers p  {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.03em;
	margin-bottom:  10px;
}
.rs-17 .rs-offers h4{
	line-height: 1.4;
	margin-bottom: 15px;
}
.rs-17 .rs-offers div+h4{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: "Open Sans" , sans-serif;
}
.rs-17 .rs-offers .btn-color{
	padding-left: 28px;
	padding-right: 28px;
	background-color: #DA251C;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 1px solid transparent;
    padding: 6px 18px;
    white-space: normal;
	margin-top: 7px;
}
.rs-17 .rs-offers .btn-color:hover  {
	background-color: #196FE4;
}
.rs-17 .rs-offers .add-text{
	font-size: 12px;
	margin-top: 20px;
}
@media (max-width: 767px){
	.rs-17 .rs-offers h2{
		font-size: 25px;
	}
}
.rs-17 .rs-offers .offers-list .block-about{
	line-height: normal;
}
.rs-17 .rs-offers .offers-list .block-about ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.rs-17 .rs-offers .offers-list .block-about ul li{
	padding-bottom: 0;
}

.rs-17 .rs-offers .offers-list .block-about ul li:before {
	content: "\f00c";
	color: #b5b5b5;
	display: inline-block;
	padding-right: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}