.rs-17 .rs-contactus{
	padding-top: 25px;
	padding-bottom: 10px;
	background-size: cover;
}
.rs-17 .rs-contactus .section-title{
	position: relative;
	margin-top: 13px;
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}
.rs-17 .rs-contactus .section-descr {
    width: 70%;
    text-align: center;
    margin: 20px auto 30px;
}
.rs-17 .rs-contactus .section-descr p {
    font-size: 18px;
    color: #616161;
    text-align: center;
}
.rs-17 .rs-contactus form .form-group{
	margin-bottom: 30px;
}
.rs-17 .rs-contactus form .form-control{
	border-color: #9e9e9e;
	height: 40px;
}
.rs-17 .rs-contactus form .form-control:focus {
    border-color: #01579b;
    box-shadow: none;
}
.rs-17 .rs-contactus form textarea.form-control{
	height: auto;
	max-width: 100%;
	min-width: 100%;
}
.rs-17 .rs-contactus form .btn-color{
	width: 100%;
	background-color: #f44336;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 18px;
	color: #fff;
}
.rs-17 .rs-contactus form  .btn.disabled,
.rs-17 .rs-contactus form .btn[disabled]{
	opacity: .5;
}
.rs-17 .rs-contactus form .checkbox-label{
    font-size: 12px;
    color: #616161;
	padding-left: 0;
}
.rs-17 .rs-contactus form .checkbox-label a{
    color: #616161;
    border-bottom: 1px dashed #cfcfcf;
}
.rs-17 .rs-contactus form  .checkbox-label a:hover,
.rs-17 .rs-contactus form  .checkbox-label a:focus{
	border-bottom: none;
	text-decoration: none;
}
.rs-17 .rs-contactus form input::-webkit-input-placeholder, .rs-17 .rs-contactus form textarea::-webkit-input-placeholder {color:#bdbdbd;}
.rs-17 .rs-contactus form input::-moz-placeholder, .rs-17 .rs-contactus form textarea::-moz-placeholder   {color:#bdbdbd;}
.rs-17 .rs-contactus form input:-moz-placeholder, .rs-17 .rs-contactus form textarea:-moz-placeholder     {color:#bdbdbd;}
.rs-17 .rs-contactus form input:-ms-input-placeholder, .rs-17 .rs-contactus form textarea:-ms-input-placeholder  {color:#bdbdbd;}
.rs-17 .rs-contactus form input.error,
.rs-17 .rs-contactus form input.error:focus{
	border-color: #d80000;
}
.rs-17 .rs-contactus form label.error{
	color: #d80000;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 0;
}

.rs-17 .rs-contactus form .input-text,
.rs-17 .rs-contactus form input[type=email],
.rs-17 .rs-contactus form input[type=password],
.rs-17 .rs-contactus form input[type=search],
.rs-17 .rs-contactus form input[type=text],
.rs-17 .rs-contactus form input[type=tel],
.rs-17 .rs-contactus form textarea {
	background-color: #fff; 
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
}

@media (max-width: 767px){
	.rs-17 .rs-contactus .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-contactus .section-descr{
		width: 100%;
	}
}

.rs-17 .rs-contactus .form-group {
	margin-bottom: 30px;
}


.rs-17 .rs-contactus input, 
.rs-17 .rs-contactus textarea {
    padding: 0;
    background-color: #fff;
    color: #555;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    
}

.rs-17 .rs-contactus input {
    height: 34px;	
}

.rs-17 .rs-contactus input:focus, 
.rs-17 .rs-contactus textarea:focus {
    border-color: #01579b;
    box-shadow: none;	
}

.rs-17 .rs-contactus textarea {
	resize: vertical;
}

.rs-17 .rs-contactus span.wpcf7-not-valid-tip {
    /*margin: 5px;
    padding: 5px;*/
    color: red;
    font-size: 13px;
    font-weight: 400;
}

.rs-17 .rs-contactus .wpcf7-response-output.wpcf7-mail-sent-ok {
	color: green;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
    border-radius: 4px;
    background-color: #dff0d8;
    text-align: center;
    border: none;
    margin: 0;
}
.rs-17 .rs-contactus .wpcf7-response-output.wpcf7-display-none{
	display: none;
}
.rs-17 .rs-contactus input[type="submit"] {
    width: 100%;
    background-color: #121314;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    height: auto;
    outline: none;
    border: none;
}
.rs-17 .rs-contactus input[type="submit"]:hover,
.rs-17 .rs-contactus input[type="submit"]:focus{
	background-color: #26292c;
}
.rs-17 .rs-contactus label.checkbox-label{
    font-size: 12px;
    color: #616161;
	padding-left: 0;
}
.rs-17 .rs-contactus label.checkbox-label a{
    color: #616161;
    border-bottom: 1px dashed #cfcfcf;
}
.rs-17 .rs-contactus label.checkbox-label a:hover,
.rs-17 .rs-contactus label.checkbox-label a:focus{
	border-bottom: none;
	text-decoration: none;
}