body {
	font-family: 'Open Sans', sans-serif !important; 
}

.rs-17 .rs-footer{
	padding-top: 40px;
	background-color: #0A408A;
}
.rs-17 .rs-footer .footer-block{
	margin-bottom: 30px;
}
.rs-17 .rs-footer .footer-block h4{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 20px;
	margin-bottom: 25px;
	color: #fff;
}
.rs-17 .rs-footer ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.rs-17 .rs-footer ul a{
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all  0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition:all 0.3s ease-out;
}
.rs-17 .rs-footer .info-list{
	color: #fff;
}
.rs-17 .rs-footer .info-list li{
	margin-bottom: 10px;
}
.rs-17 .rs-footer .info-list li a{
	font-size: 12px;
	color: #fff;
}
.rs-17 .rs-footer .info-list li a:hover,
.rs-17 .rs-footer .info-list li a:focus{
	color: #d5dae5;
	text-decoration: none;
}
.rs-17 .rs-footer .contacts-list li{
	margin-bottom: 10px;
	color: #fff;
}
.rs-17 .rs-footer .contacts-list li a{
	font-size: 14px;
	color: #fff;
}
.rs-17 .rs-footer .contacts-list li i{
	padding-right: 7px;
	color: #fff;
}
.rs-17 .rs-footer .contacts-list li a:hover,
.rs-17 .rs-footer .contacts-list li a:focus{
	color:  #d5dae5;
	text-decoration: none;
}
.rs-17 .rs-footer .link-underline{
	text-decoration: underline;
}
.rs-17 .rs-footer .footer-bottom{
	padding-top: 15px;
	min-height: 57px;
	border-top: 2px solid #063C86;
	background-color: #063C86;
}
.rs-17 .rs-footer .social-list{
	display: inline-block;
}
.rs-17 .rs-footer .social-list li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
.rs-17 .rs-footer .social-list li a{
	position: relative;
    display: inline-block;
    vertical-align: middle;
	text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}


.rs-17 .rs-footer .social-list li a i{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.rs-17 .rs-footer .social-list li a i.fa-vk{
	margin-left: -1px;
}
.rs-17 .rs-footer .copyright{
	padding-top: 5px;
}
.rs-17 .rs-footer .copyright,
.rs-17 .rs-footer .dev{
	font-size: 12px;
	color: #fff;
}
.rs-17 .rs-footer .dev:hover{
	text-decoration: none;
}
.rs-17 .rs-footer .right-block{
	padding-bottom: 10px;
}
.rs-17 .rs-footer .dev img{
	display: inline-block;
	vertical-align: initial;
	padding-left: 3px;
	margin-bottom: 0;
	max-width: 66px;
}
.storefront-handheld-footer-bar .search-close{
	display: none;
}
.storefront-handheld-footer-bar .search-input-box{
	width: 100%;
}
.storefront-handheld-footer-bar ul li.search.active .site-search {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}
@media (max-width: 991px){
	.rs-17 .rs-footer .footer-block{
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-left: -4px;
	}
}
@media (max-width: 767px){
	.rs-17 .rs-footer .copyright,
	.rs-17 .rs-footer .right-block{
		float: none!important;
		text-align: center;
	}
	.rs-17 .rs-footer .social-list,
	.rs-17 .rs-footer .dev{
		display: block;
	}
	.rs-17 .rs-footer .social-list{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
@media (min-width: 1200px)  {
	.rs-17 .rs-footer .footer-block.footer-block-2 ul  {
		padding-right: 52px;
	}
}