/* rs-breadcrumbs */
.rs-17 .rs-breadcrumbs{
	margin-top: 20px;
}
.rs-17 .rs-breadcrumbs .breadcrumbs {
    background: none;
	border: 1px solid #DDDDDD;
	padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}

.rs-17 .rs-breadcrumbs .breadcrumbs a{
	font-size: 13px;
	color: #454545;
}
.rs-17 .rs-breadcrumbs .breadcrumbs a:hover,
.rs-17 .rs-breadcrumbs .breadcrumbs a:focus{
	color: #03a9f4;
	text-decoration: none;
}

 .fancybox-thumbs {
    top: auto!important;
    max-width: 1000px!important;
	width: auto!important;
	margin: 0 auto!important;
    bottom: 50px!important;
    left: 0!important;
    right : 0!important;
    height: 89px!important;
    padding: 10px!important;
    background: transparent!important;
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0!important;
    bottom: 95px!important;
  }
  .fancybox-thumbs{
	text-align: center!important;
  }
  .fancybox-thumbs>ul{
	display: inline-block!important;
	width: auto!important;
  }
  .fancybox-thumbs>ul>li{
	width: 18px!important;
    height: 18px!important;
    border-width: 0!important;
    border-radius: 50%;
    margin: 0 5px!important;
  }
  .fancybox-caption-wrap{
	max-width: 1000px!important;
	background: transparent!important;
	margin: 0 auto!important;
	bottom: 30px!important;
  }
  .fancybox-caption{
	border: none!important;
	font-family: 'Open Sans', sans-serif !important;
  }
	.fancybox-thumbs>ul>li:before{
		background-color: rgba(0,0,0,.5)!important;
		border: none!important;
		opacity: 1!important;
		border-radius: 0!important;
	}
	.fancybox-thumbs>ul{
		overflow-y: hidden!important;
	}
	.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{
		opacity: 0!important;
	}
	.fancybox-arrow:after{
		content: "\f105" !important;
		background-image: none!important;
		width: 80px!important;
		height: 80px!important;
		background-size: auto!important;
		background-color: transparent!important;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 65px;
		top: 20px!important;
		color: #fff;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.fancybox-arrow{
		width: 80px!important;
		opacity: 1!important;
	}
	.fancybox-button--close:after, .fancybox-button--close:before{
		width: 30px!important;
	}
	.fancybox-button, .fancybox-infobar__body{
		background: transparent!important;
	}
	.fancybox-button{
		margin-right: 30px!important;
		margin-top: 20px!important;
	}
	.fancybox-bg{
		background: #000!important;
	}
	
.grecaptcha-badge {
	opacity: 0;
}

@media (min-width: 768px) {
	.rs-17 .rs-breadcrumbs {
		display: none;
	}
}

.rs-17 .rs-breadcrumbs.catalog {
	display: block;
}
