.rs-buy-product {
  position: relative;
  margin-top: 85px;
  margin-bottom: 105px;
}

@media (max-width: 1920px) {
  .rs-buy-product {
    margin-top: calc(50px + (85 - 50) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(50px + (105 - 50) * ((100vw - 320px) / (1920 - 320)));
  }
}

.rs-buy-product__wrapper {
  position: relative;
}

.rs-buy-product__wrapper .swiper-button-next,
.rs-buy-product__wrapper .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.rs-buy-product__wrapper .swiper-button-next::before,
.rs-buy-product__wrapper .swiper-button-prev::before {
  font-size: 50px;
}

@media (max-width: 992px) {
  .rs-buy-product__wrapper .swiper-button-next,
  .rs-buy-product__wrapper .swiper-button-prev {
    display: none;
  }
}

.rs-buy-product__wrapper .swiper-button-prev,
.rs-buy-product__wrapper .swiper-rtl .swiper-button-next {
  left: -40px;
  right: auto;
}

@media (max-width: 1920px) and (min-width: 993px) {
  .rs-buy-product__wrapper .swiper-button-prev,
  .rs-buy-product__wrapper .swiper-rtl .swiper-button-next {
    left: calc((-15px) + ((-40) - (-15)) * ((100vw - 992px) / (1920 - 992)));
  }
}

.rs-buy-product__wrapper .swiper-button-next,
.rs-buy-product__wrapper .swiper-rtl .swiper-button-prev {
  right: -40px;
  left: auto;
}

@media (max-width: 1920px) and (min-width: 993px) {
  .rs-buy-product__wrapper .swiper-button-next,
  .rs-buy-product__wrapper .swiper-rtl .swiper-button-prev {
    right: calc((-15px) + ((-40) - (-15)) * ((100vw - 992px) / (1920 - 992)));
  }
}

.rs-buy-product__slider {
  margin-top: 20px;
}

@media (max-width: 1920px) {
  .rs-buy-product__slider {
    margin-top: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (max-width: 768px) {
  .rs-buy-product__slider {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.rs-buy-product__slide {
  min-height: 562px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 1920px) {
  .rs-buy-product__slide {
    min-height: calc(320px + (562 - 320) * ((100vw - 320px) / (1920 - 320)));
  }
}
