.rs-breadcrumbs {
	padding: 22px 0px 21px;
	position: relative;
	border-bottom: 1px solid #dddddd;
}


.rs-breadcrumbs__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.rs-breadcrumbs__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.rs-breadcrumbs__item {
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.16px;
	line-height: normal;
}

@media (max-width: 992px) {
	.rs-breadcrumbs__item {
		display: none;
	}

	.rs-breadcrumbs__item:nth-last-child(2) {
		display: block;
	}

	.rs-breadcrumbs__container {
		justify-content: flex-end;
	}
}

.rs-breadcrumbs__link {
	color: #c1c1c1;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.rs-breadcrumbs__link::after {
	content: "-";
	color: #c1c1c1;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.16px;
	line-height: normal;
	margin: 0px 9px;
}

@media (max-width: 992px) {
	.rs-breadcrumbs__link::after {
		display: none;
	}
}

@media (max-width: 992px) {
	.rs-breadcrumbs__link::before {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: "icons" !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\e905";
		font-size: 10px;
		margin-right: 5px;
	}
}

@media (any-hover: hover) {
	.rs-breadcrumbs__link:hover {
		color: #000000;
	}
}

.rs-breadcrumbs__current {
	color: #000000;
}