.rs-inst {
	margin-top: 130px;
	position: relative;
	margin-bottom: 115px;
}

@media (max-width: 1920px) {
	.rs-inst {
		margin-top: calc(50px + (130 - 50) * ((100vw - 320px) / (1920 - 320)));
		margin-bottom: calc(50px + (115 - 50) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-inst__container h2.large-title {
	letter-spacing: 3.5px;
	font-weight: 400;
}



	.rs-inst__container h2.large-title {
		text-transform: lowercase !important;
		font-weight: 500;
	}



.rs-inst__container h2.large-title a::before {
	font-size: 32px;
	margin-right: 20px;
}

@media (max-width: 1920px) {
	.rs-inst__container h2.large-title a::before {
		font-size: calc(25px + (32 - 25) * ((100vw - 320px) / (1920 - 320)));
		margin-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-inst__wrapper {
	position: relative;
}

.rs-inst__wrapper .swiper-button-next,
.rs-inst__wrapper .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	margin-top: 0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #000;
}

.rs-inst__wrapper .swiper-button-next::before,
.rs-inst__wrapper .swiper-button-prev::before {
	font-size: 20px;
}

@media (max-width: 992px) {

	.rs-inst__wrapper .swiper-button-next,
	.rs-inst__wrapper .swiper-button-prev {
		display: none;
	}
}

.rs-inst__wrapper .swiper-button-prev,
.rs-inst__wrapper .swiper-rtl .swiper-button-next {
	left: -40px;
	right: auto;
}

@media (max-width: 1920px) and (min-width: 993px) {

	.rs-inst__wrapper .swiper-button-prev,
	.rs-inst__wrapper .swiper-rtl .swiper-button-next {
		left: calc((-15px) + ((-40) - (-15)) * ((100vw - 992px) / (1920 - 992)));
	}
}

.rs-inst__wrapper .swiper-button-next,
.rs-inst__wrapper .swiper-rtl .swiper-button-prev {
	right: -40px;
	left: auto;
}

@media (max-width: 1920px) and (min-width: 993px) {

	.rs-inst__wrapper .swiper-button-next,
	.rs-inst__wrapper .swiper-rtl .swiper-button-prev {
		right: calc((-15px) + ((-40) - (-15)) * ((100vw - 992px) / (1920 - 992)));
	}
}

.rs-inst__slider {
	margin-top: 32px;
}

@media (max-width: 1920px) {
	.rs-inst__slider {
		margin-top: calc(15px + (32 - 15) * ((100vw - 320px) / (1920 - 320)));
	}
}

@media (max-width: 768px) {
	.rs-inst__slider {
		margin-right: -15px;
		margin-left: -15px;
		padding: 0px 15px;
	}
}

/* 
.rs-inst__swiper {
	-webkit-transition-timing-function: linear !important;
	-o-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
} */

.rs-inst__slide {
	min-height: 426px;
	height: auto;
	overflow: hidden;
}

@media (any-hover: hover) {
	.rs-inst__slide:hover img {
		transform: scale(1.03);
	}
}

@media (max-width: 1920px) {
	.rs-inst__slide {
		min-height: calc(267px + (426 - 267) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-inst__slide img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: all 1s ease 0s;
}