.rs-new-product {
	margin-top: 97px;
	position: relative;
}

@media (max-width: 1920px) {
	.rs-new-product {
		margin-top: calc(50px + (97 - 50) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-new-product__wrapper {
	position: relative;
}

.rs-new-product__wrapper .swiper-button-next,
.rs-new-product__wrapper .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: 0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #000;
}

.rs-new-product__wrapper .swiper-button-next::before,
.rs-new-product__wrapper .swiper-button-prev::before {
	font-size: 50px;
}

@media (max-width: 992px) {

	.rs-new-product__wrapper .swiper-button-next,
	.rs-new-product__wrapper .swiper-button-prev {
		display: none;
	}
}

@media (min-width: 1521px) {

	.rs-new-product__wrapper .swiper-button-next,
	.rs-new-product__wrapper .swiper-button-prev {
		display: none;
	}
}

.rs-new-product__wrapper .swiper-button-prev,
.rs-new-product__wrapper .swiper-rtl .swiper-button-next {
	left: -40px;
	right: auto;
}

@media (max-width: 1920px) and (min-width: 993px) {

	.rs-new-product__wrapper .swiper-button-prev,
	.rs-new-product__wrapper .swiper-rtl .swiper-button-next {
		left: calc((-15px) + ((-40) - (-15)) * ((100vw - 992px) / (1920 - 992)));
	}
}

.rs-new-product__wrapper .swiper-button-next,
.rs-new-product__wrapper .swiper-rtl .swiper-button-prev {
	right: -40px;
	left: auto;
}

@media (max-width: 1920px) and (min-width: 993px) {

	.rs-new-product__wrapper .swiper-button-next,
	.rs-new-product__wrapper .swiper-rtl .swiper-button-prev {
		right: calc((-15px) + ((-40) - (-15)) * ((100vw - 992px) / (1920 - 992)));
	}
}

.rs-new-product__slider {
	margin-top: 56px;
}

@media (max-width: 1920px) {
	.rs-new-product__slider {
		margin-top: calc(15px + (56 - 15) * ((100vw - 320px) / (1920 - 320)));
	}
}

@media (max-width: 768px) {
	.rs-new-product__slider {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media (min-width: 1521px) {
	.rs-new-product__swiper {
		/* display: -ms-grid;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		-webkit-column-gap: 48px;
		column-gap: 48px;
		row-gap: 102px; */

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.rs-new-product__slide {
	min-height: 562px;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

@media (min-width: 1521px) {
	.rs-new-product__slide {
		flex: 0 0 25%;
		padding: 61px 24px;
	}
}

@media (max-width: 1920px) {
	.rs-new-product__slide {
		min-height: calc(320px + (562 - 320) * ((100vw - 320px) / (1920 - 320)));
	}
}