.rs-podcast {
	position: relative;
}

.rs-podcast__container {
	background: #F4F4F4;
	padding-top: 60px;
	padding-bottom: 60px;
	overflow: hidden;
}

@media (max-width: 1920px) {
	.rs-podcast__container {
		padding-top: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
		padding-bottom: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-podcast__container>h2 {
	text-transform: uppercase;
}


.rs-podcast__slider {
	margin-top: 50px;
}

@media (max-width: 1920px) {
	.rs-podcast__slider {
		margin-top: calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)))
	}
}

.rs-podcast__slider_wrapper {
	position: relative;
}
@media (min-width: 992px) {
	.rs-podcast__slider_wrapper {
		margin-left: -46px;
		margin-right: -46px;
		padding: 0 46px;
	}

	@media (max-width: 1449px) {
		.rs-podcast__slider_wrapper {
			padding: 0 34px calc(15px + (26 - 15) * ((100vw - 992px) / (1920 - 992)));
			margin-left: -34px;
			margin-right: -34px;
		}
	}
}
@media (min-width: 992px) {
	.rs-podcast__slider {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
}

@media (max-width: 540px) {
	.rs-podcast__slider {
		margin-left: -15px;
		margin-right: -15px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.rs-podcast__slide {
	min-height: 355px;
	height: auto;
}

@media (max-width: 1920px) {
	.rs-podcast__slide {
		min-height: calc(185px + (355 - 185) * ((100vw - 320px) / (1920 - 320)))
	}
}

.rs-podcast__item {
	width: 100%;
	height: 100%;
}

@media (any-hover: hover) {
	.rs-podcast__item:hover .rs-podcast__img img {
		transform: scale(1.1);
	}
}

.rs-podcast__item a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.rs-podcast__img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.rs-podcast__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease 0s;
}

.rs-podcast__description {
	margin-top: 22px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.05em;
}

@media (max-width: 1920px) {
	.rs-podcast__description {
		font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(23px + (25 - 23) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-podcast__slider_wrapper .swiper-button-next,
.rs-podcast__slider_wrapper .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	margin-top: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #000;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.rs-podcast__slider_wrapper .swiper-button-next::before,
.rs-podcast__slider_wrapper .swiper-button-prev::before {
	font-size: 15px;
}

@media (max-width: 992px) {

	.rs-podcast__slider_wrapper .swiper-button-next,
	.rs-podcast__slider_wrapper .swiper-button-prev {
		display: none;
	}
}

.rs-podcast__slider_wrapper .swiper-button-prev,
.rs-podcast__slider .swiper-rtl .swiper-button-next {
	left: 13px;
	right: auto;
}

.rs-podcast__slider_wrapper .swiper-button-next,
.rs-podcast__slider .swiper-rtl .swiper-button-prev {
	right: 13px;
	left: auto;
}

/*.rs-podcast__slider:before,
.rs-podcast__slider:after {
    content:'';
	display:block;
	pointer-events:none;
	width:80px;
	background: #F4F4F4;
	height: calc(100% + 10px);
	top:-5px;
	position:absolute;
	z-index: 2;
}
.rs-podcast__slider:before {
    left: -50px;
}
.rs-podcast__slider:after {
    right: -50px;
}*/