.rs-store {
	padding: 88px 0px 99px;
	position: relative;
	border: none;
}

@media (max-width: 1920px) {
	.rs-store {
		padding: calc(28px + (88 - 28) * ((100vw - 320px) / (1920 - 320))) 0px calc(28px + (99 - 28) * ((100vw - 320px) / (1920 - 320)));
	}
}

@media (min-width: 993px) {
	/*.rs-store {
		border-left: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
	}*/
}

.rs-store__container {
	border: none !important;
}

.rs-store__contact {}

.rs-store__contact_list {
	display: flex;
	align-items: flex-start;
	margin-top: 14px;
}

@media (max-width: 992px) {
	.rs-store__contact_list {
		flex-direction: column;
	}
}

.rs-store__contact_item {}

.rs-store__contact_item ul {
	margin-top: 11px;
}

.rs-store__contact_item ul li:not(:last-child) {
	margin-bottom: 5px;
}

.rs-store__contact_item ul li {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	letter-spacing: 0.05em;
}

.rs-store__contact_item p {
	margin-top: 28px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #737373;
}

@media (max-width: 1920px) {
	.rs-store__contact_item p {
		margin-top: calc(13px + (28 - 13) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-store__contact_item .rs-btn {
	margin-top: 20px;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.15em;
	padding: 13px 25px;
}

@media (min-width:993px) {
	.rs-store__contact_item:not(:last-child) {
		margin-right: 150px;
	}
}

@media (max-width: 1920px) and (min-width:993px) {
	.rs-store__contact_item:not(:last-child) {
		margin-right: calc(30px + (150 - 30) * ((100vw - 992px) / (1920 - 992)));
	}
}

@media (max-width: 992px) {
	.rs-store__contact_item:not(:last-child) {
		margin-bottom: 20px;
	}
}

.rs-store__map {
	margin-top: 127px;
}

@media (max-width: 1920px) {
	.rs-store__map {
		margin-top: calc(44px + (127 - 44) * ((100vw - 320px) / (1920 - 320)))!important;
	}
}

@media (max-width: 992px) {
	.rs-store__map {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.rs-store__map .map {
	min-height: 668px;
}

@media (max-width: 1920px) {
	.rs-store__map .map {
		min-height: calc(577px + (668 - 577) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-store__map [class*="-copyrights-pane"] {
	display: none;
}

.rs-store__map ymaps[class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	filter: grayscale(1);
}
/*.rs-store__map canvas {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
}*/

/*.rs-store__map .map .ymaps-2-1-79-image-with-content,
.rs-store__map .map .ymaps-2-1-79-places-pane {
	z-index: 10000 !important;
}*/

/*.rs-store__map .map .ymaps-2-1-79-image-with-content {
	width: 40px !important;
	height: 42px !important;
	background-size: 40px 42px !important;
}*/

@media (max-width: 1920px) {
	/*.rs-store__map .map .ymaps-2-1-79-image-with-content {
		width: calc(35px + (55 - 35) * ((100vw - 320px) / (1920 - 320))) !important;
		height: calc(35px + (55 - 35) * ((100vw - 320px) / (1920 - 320))) !important;
		background-size: calc(35px + (55 - 35) * ((100vw - 320px) / (1920 - 320))) calc(35px + (55 - 35) * ((100vw - 320px) / (1920 - 320))) !important;
	}*/
}

.rs-store__map .map .ymaps-2-1-79-image-with-content::before {
	/*content: "";*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100% !important;
	height: 100% !important;
	transform: translate(-50%, -50%);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100.8 119.47'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23000;fill-rule:evenodd;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eLOGO_SHIELD%3c/title%3e%3cpath class='cls-1' d='M192.14,296.52c-1.32-2.21-2.62-4.44-3.92-6.66l7.49,3.82,2.21,1.12,2.3,1.14,2.36,1.15c1,.49,1.95.94,2.77,1.32s1.78.83,2.71,1.24,1.79.79,2.63,1.15,1.66.69,2.56,1l.31.12.38.13.65-.26c1.57-.66,3.09-1.32,4.57-2s2.94-1.37,4.56-2.16,3.16-1.56,4.58-2.27l4.54-2.31,6.26-3.2c-1.46,2.46-2.9,4.93-4.38,7.37h0l-1.2,1.93h0l-.74,1.19-.81,1.27-.8,1.23-.81,1.23-.84,1.25-.81,1.19-.8,1.17-1,1.37-1,1.34-1,1.36-1,1.34-1,1.31-1,1.28-1,1.3-1,1.23-.89,1.13-.91,1.12-.83,1c-1.23,1.47-2.48,2.91-3.75,4.35-1.61-1.75-2.93-3.25-4.43-5.08l-.21-.26h0l-.24-.29h0l-.23-.28-1.09-1.31,0,0-1.2-1.49h0l-2-2.64-1-1.29-1-1.34-1-1.36-1-1.35-1-1.35-.81-1.16-.82-1.2L197,304.2l-.82-1.23-.77-1.18-.77-1.18-.78-1.23-.76-1.21A2,2,0,0,0,193,298h0l-.09-.17c-.08-.12-.77-1.25-.77-1.27Zm53.26-19.74-.6,1.44-3.58-.27-2.36-.17-2.4-.16-2.42-.15-2.09-.13-2.09-.12-2.11-.11-15.12-.7c8.27-1.79,10.72-2.61,19.06-4.07,1.17-.21,8.3-1.51,9.77-1.74,1.32-.2,2.62-.39,3.89-.56l2.83-.38-1.51,3.95h0s-1.28,3.14-1.28,3.16Zm7.17-21-1.88,6-3.34-.39-1.93-.22-4-.4-2.31-.22-2.32-.19-2.26-.18-2.21-.16-2.32-.14h0l-2.32-.13-2.35-.11-2.36-.09-2.31-.07-2.3-.05-2.31,0h-4.64l-2.31,0-2.29.05-2.3.07h0l-2.33.1-2.33.11-2.29.13-2.3.15h0l-2.28.17-2.33.2-2.37.21-2.35.23-2,.22-2,.22-2,.25-3.41.43-.64-2c-.59-1.86-1.18-3.71-1.79-5.8l-.49-1.68v0c-.32-1.13-.63-2.27-.94-3.41l-.4-1.53h0l-.38-1.47h0c-.56-2.33-1.07-4.59-1.55-6.94l3.11-.74,1.39-.34,1.06-.28,1-.28,2.24-.62,2.21-.67,1-.31,2-.67,1-.36,2.07-.75,1-.37,1-.39,1-.41,1-.41,1-.42,1-.44,1-.44,1-.46,2-1,1-.49,1-.49.6-.3.59-.31c.88-.47,1.75-1,2.63-1.45l1.85,3.3c.32.56.66,1.15,1,1.76s.63,1.08,1,1.71l1,1.66q.61,1,1.29,2c.46.66.9,1.28,1.32,1.84s.86,1.12,1.34,1.69.91,1.06,1.37,1.53l.1.1.1-.1c.48-.5.93-1,1.37-1.53s.88-1.1,1.32-1.7.85-1.18,1.31-1.85.89-1.35,1.29-2,.69-1.12,1-1.68l1-1.73,1-1.77,1.83-3.28,2,1.12.59.31h0l1.19.6,1,.49,1,.48,2,.95,1,.45,1,.44,1,.43,1,.41,1,.41,1,.4,2,.76,1,.37,1,.35,1,.35,1.05.35,1.07.34,1,.33,1,.3L249,237l2.16.58,1.12.28,1.43.35,3.07.72-.26,1.34c-.86,4.08-1.85,8-2.95,12h0c-.27,1-.82,2.57-1,3.48Zm-71,20.53.59,1.43,1.47-.45q2.72-.84,5.42-1.62t5.29-1.5c1.68-.47,3.4-.93,5.16-1.4l5.12-1.32,1.91-.48,3.66-.9,17.39-4.15-15.85.33-2.17.06-2.2.07-2.2.09-2.19.11c-1.93.1-3.82.22-5.64.35s-3.67.3-5.62.48-3.78.38-5.51.58-3.57.44-5.38.69l-2.11.3c.54,1.41,1.07,2.82,1.62,4.23.39,1,.77,1.95,1.24,3.1Zm.09,15.3,1,1.9c.24.46.5,1,.78,1.47l.8,1.48.82,1.47.81,1.42.85,1.47.86,1.45.85,1.38.84,1.37.2.32h0c1,1.68,2.12,3.31,3.2,4.95.5.74,1,1.44,1.53,2.17l0,0c.57.83,1.16,1.66,1.75,2.48h0l0,0h0l.59.83h0l1,1.38h0l.15.21h0l.22.28c.18.24.37.48.54.73l.5.67a4.59,4.59,0,0,1,.48.61h0l.27.38a2.2,2.2,0,0,1,.2.23q.72.93,1.59,2c.6.74,1.14,1.4,1.62,2s1,1.23,1.63,1.94,1.14,1.32,1.65,1.89,1.14,1.28,1.67,1.86,1.14,1.24,1.69,1.82h0l1.68,1.74,1.71,1.72.57.56.57-.57c.57-.56,1.14-1.14,1.71-1.73s1.21-1.26,1.67-1.75l1.69-1.83,1.65-1.85,1.64-1.9,1.63-1.95c.48-.58,1-1.24,1.6-2s1.1-1.38,1.59-2l1.5-2,1.47-2q.57-.76,1.44-2c.48-.68,1-1.36,1.42-2s.88-1.29,1.25-1.84.81-1.22,1.22-1.86l1.2-1.87c.3-.48.71-1.13,1.22-2l.5-.81h0l.2-.35c.16-.27.31-.51.43-.68l.48-.81,1.37-2.39,1.32-2.36.31-.56c.31-.55.6-1.1.89-1.63.18-.34.49-.92.92-1.77s.7-1.34.93-1.8.61-1.21.91-1.82.65-1.31.87-1.77c.14-.3.43-.91.83-1.78.27-.57.54-1.16.83-1.8.39-.87.75-1.66,1.06-2.38s.65-1.53,1-2.39.71-1.71,1-2.38h0c.28-.69.59-1.49.93-2.38l.9-2.4c.32-.88.6-1.68.84-2.37s.47-1.38.81-2.39.53-1.66.77-2.41l.48-1.57.68-2.19h0l.61-2,.54-1.81.53-1.82.52-1.85h0l.25-.89h0a27.3,27.3,0,0,0,.76-2.88l.52-2,.22-.9.41-1.76c.21-.95.41-1.91.62-2.87l.38-1.92.17-.92.31-1.81.29-1.88.13-.94.21-1.58-1.43-.23-1.31-.21-1.32-.25c-.4-.08-.83-.16-1.31-.27l-1.34-.29-1.32-.3-1.33-.33c-.39-.09-.84-.21-1.35-.35l-1.38-.38-1.35-.4c-.43-.12-.88-.26-1.34-.41l-1.37-.44-1.37-.46-1.36-.47-1.37-.51c-.48-.17-.92-.34-1.33-.5s-.94-.36-1.32-.52l-1.34-.55-1.32-.57-1.31-.57-1.27-.59-1.25-.59-1.24-.61-1.25-.64-1.22-.64-1.17-.65-1.15-.66-1.1-.64-1.07-.67-1-.65-1-.66c-.3-.21-.61-.42-.93-.66s-.57-.4-.9-.66l-1.33-1v.05l-.14.32c-.61,1.44-1.21,2.86-1.73,4.06s-1.14,2.59-1.74,3.86l-.62,1.31h0l-.63,1.26c-.15.3-.36.7-.64,1.23l-.67,1.21-1.47,2.59-1.48-2.58c-.21-.36-.43-.76-.67-1.2s-.43-.81-.65-1.24-.43-.84-.64-1.27-.43-.88-.63-1.3c-.31-.65-.6-1.28-.88-1.9s-.59-1.31-.87-1.95L206,216.72c0,.05.07.17,0,0l-.16-.37-1.29,1-.89.65-.94.67-1,.67-1,.66-1.09.68-1.11.66c-.32.19-.69.41-1.13.65s-.72.41-1.15.64l-1.2.65-1.22.63-1.25.62-1.28.62-1.28.59-1.29.59-1.32.56c-.6.26-1.05.45-1.34.56h0l-1.35.54c-.41.17-.87.34-1.36.53L182,229l-1.34.48-1.37.46-1.36.44-1.35.43-1.34.39-1.34.38-1.33.36-1.36.34-1.34.32-1.33.29-1.33.28-1.3.24c-.51.1-1,.17-1.32.23l-1.43.25.22,1.57.28,1.89.14.9.33,1.84.17.91c.13.67.26,1.31.39,1.93l.42,1.94.2.89.43,1.78.48,1.91h0l.26,1,.52,2h0l.5,1.8h0l.56,1.93.53,1.82.53,1.74.6,2,1.18,3.76.77,2.37c.24.72.52,1.51.82,2.37s.56,1.58.87,2.4.64,1.73.91,2.42.61,1.55.94,2.39.68,1.65,1,2.37.62,1.44,1,2.37l.9,2h0L179,286l0,0,.21.46h0l.37.76a3,3,0,0,1,.13.3c.32.71.63,1.35.94,1.95s.65,1.27,1,2ZM206,216.72s0,0,0,0Zm10,76.43s9.55-4.72,9.76-4.83l1-.46.49-.22,6.43-2.93-7.74-.34-1.85-.08-2.53-.08-2.55-.06-2.58,0-2.6,0h0l-2.65,0-2.62.06-2.61.07-2.59.1c-3.13,0-6.6.31-9.72.46l7.18,3.13,1.45.68q2.58,1.28,5.17,2.52h0c2.15,1,4.29,2,6.45,3Z' transform='translate(-163.15 -216.31)'/%3e%3c/svg%3e");
}

@media (max-width: 1920px) {
	.rs-store__map .map .ymaps-2-1-79-image-with-content::before {
		width: calc(100px + (55 - 100) * ((100vw - 320px) / (1920 - 320)));
		height: calc(100px + (55 - 100) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-store__about {
	margin-top: 99px;
	margin-left: auto;
	margin-right: auto;
	max-width: 865px;
}

@media (max-width: 1920px) {
	.rs-store__about {
		margin-top: calc(40px + (99 - 40) * ((100vw - 320px) / (1920 - 320)));
	}
}

.rs-store__about p {
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
	margin-top: 6px;
}

@media (max-width: 1920px) {
	.rs-store__about p {
		font-size: calc(14px + (19 - 14) * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(23px + (30 - 23) * ((100vw - 320px) / (1920 - 320)));
	}
}