.rs-17 .rs-recommendations {
	background-color: #fafafa;
    padding: 75px 0 60px;
    position: relative;
}
.rs-17 .rs-recommendations .subsection-title {
    color: #222931;
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
    display: block;
    width: 100%;
}
/*.rs-17 .rs-recommendations .subsection-title:before {
    background-color: #d50000;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    top: -13px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 18px;
}*/
.rs-17 .rs-recommendations .section-title {
    color: #212830;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
    text-transform: uppercase;
}
.rs-17 .rs-recommendations .section-descr {
    width: 95%;
    text-align: center;
    margin: 15px auto 40px;
}
.rs-17 .rs-recommendations .section-descr {
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 24px;
    margin-top: 0;
    font-weight: 400;
}

.rs-17 .rs-recommendations .recommendation a {
    display: block;
    width: 100%;
    height: 300px;
    opacity: .8;
}
.rs-17 .rs-recommendations #recommendations-slider {
    text-align: center;
    position: initial;
}
.rs-17 .rs-recommendations #recommendations-slider .recommendation:hover a {
    opacity: 1;
}
.rs-17 .rs-recommendations .owl-dots {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}
.rs-17 .rs-recommendations .owl-dot {
    display: inline-block;
    vertical-align: middle;
}
.rs-17 .rs-recommendations .owl-dots span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #cccccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.rs-17 .rs-recommendations .owl-dot.active span {
    background: #757575;
}
.rs-17 .rs-recommendations .owl-prev, .rs-17 .rs-recommendations .owl-next {
    display: block;
    cursor: pointer;
    background-color: rgba(0,0,0,.1);
    border: none;
    color: #fff;
    font-size: 23px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    z-index: 5;
    height: 100px;
    width: 40px;
    padding: 30px 0;
    text-align: center;
}
.rs-17 .rs-recommendations .owl-next i {
    padding-left: 8px;
}
.rs-17 .rs-recommendations .owl-prev i {
    padding-right: 8px;
}
.rs-17 .rs-recommendations .owl-prev:hover, .rs-17 .rs-recommendations .owl-next:hover {
    background-color: rgba(0,0,0,.4);
}
.rs-17 .rs-recommendations .owl-prev {
    left: 0;
}
.rs-17 .rs-recommendations .owl-next {
    right: 0;
}

@media (max-width: 991px){
    .rs-17 .rs-recommendations .owl-prev, 
    .rs-17 .rs-recommendations .owl-next {
        display: none;
    }
}
@media (max-width: 767px){
	.rs-17 .rs-recommendations .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-recommendations .section-descr{
		width: 100%;
	}
    .rs-17 .rs-recommendations {
        padding: 50px 15px 30px;
    }
    .rs-17 .rs-recommendations .recommendation a {
        min-height: 500px;
    }
}
@media (max-width: 650x){
    .rs-17 .rs-recommendations .recommendation a {
        min-height: 345px;
    }
}
@media (max-width: 500x){
    .rs-17 .rs-recommendations .recommendation a {
        min-height: 650px;
    }
}