.rs-17 .rs-subscribe{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 55px;
}
.rs-17 .rs-subscribe .section-title{
	text-transform: uppercase;
	position: relative;
	margin-top: 13px;
	font-size: 36px;
	font-weight: 300;
}
.rs-17 .rs-subscribe .section-descr {
    width: 75%;
    text-align: center;
    margin: 20px auto 50px;
}
.rs-17 .rs-subscribe .section-descr p {
    font-size: 18px;
    color: #616161;
    text-align: center;
}
.rs-17 .rs-subscribe .form-subscribe .form-control{
	height: 50px;
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.rs-17 .rs-subscribe .form-subscribe .form-control:focus {
	box-shadow: none;
	outline-offset: 0px;
}
.rs-17 .rs-subscribe .form-subscribe .form-group{
	width: 45%;
	max-width: 100%;
}
.rs-17 .rs-subscribe .form-subscribe .input-group{
	width: 100%;
	text-align:left;
}
.rs-17 .rs-subscribe .form-subscribe .btn-color{
	z-index: 2;
	background-color: #4ec67f;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	height: 50px;
	padding-right: 37px;
	padding-left: 37px;
	margin-left: -6px;
	vertical-align: top;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.rs-17 .rs-subscribe input.error{
	margin-bottom: 0;
}
.rs-17 .rs-subscribe .form-subscribe input.error,
.rs-17 .rs-modal .form-subscribe input.error:focus{
	border-color: #d80000;
}
.rs-17 .rs-subscribe .form-subscribe label.error{
	color: #d80000;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 17px;
}
@media (max-width: 767px){
	.rs-17 .rs-subscribe .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-subscribe .section-descr {
		width: 100%;
	}
	.rs-17 .rs-subscribe .form-subscribe .form-group{
		width: 100%;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
	.rs-17 .rs-subscribe .form-subscribe .form-control{
		width: 100%;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
}


.rs-17 .rs-subscribe .form-subscribe input[type=email] {
	background-color: transparent;
	padding-left: 12px;	
	padding-right: 12px;
	border: 1px solid #ccc;
	border-right: none;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-sizing: border-box;
}