.rs-17 .rs-slider {
	max-height: 752px;
	overflow: hidden;
    position: relative;
	background-color: #fff;
	margin-bottom: 0;
}
.rs-17 .rs-slider .rs-slider-container {
	height: 752px;
	max-width: 100%;
	max-height: 752px;
	overflow: hidden;
    position: relative;
	opacity: 0;
	-webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    transition: all .7s ease-out;
}
.rs-17 .rs-slider .rs-slider-container.slick-initialized {
	opacity: 1;
	height: auto;
}
.rs-17 .rs-slider .slider-item {
	width: 100%;
    height: 100%;
	max-height: 752px;
	overflow: hidden;
	position: relative;
	outline: none;
}

.rs-17 .rs-slider .slider-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.rs-17 .rs-slider .slider-info .container {
	height: 100%;
}
.rs-17 .rs-slider  .slider-inner {
	color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
}
.rs-17 .rs-slider  .slider-inner h2 {
	/* font-family: 'Montserrat', sans-serif; */
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	line-height:  1.3;
	/* letter-spacing: 1px; */
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
}
.rs-17 .rs-slider  .slider-inner h3 {
	text-shadow: 0 2px 5px rgba(0,0,0,.65);
	letter-spacing: 1px;
	margin-top: 15px;
	color: #fff;
}
.rs-17 .rs-slider  .slider-inner-v2 h3 {
	font-size: 24px;
	color: #fff;
}
.rs-17 .rs-slider  .slider-inner-v2 p {
	text-shadow: 0 2px 5px rgba(0,0,0,.65);
}
.rs-17 .rs-slider  .slider-inner-v1 p {
	text-shadow: none;
}
.rs-17 .rs-slider  .slider-inner-v2 p,
.rs-17 .rs-slider  .slider-inner-v1 p {
	font-size: 24px;	
	/* letter-spacing: 1px; */
	line-height: 1.3;
	margin-top: 15px;
}

.rs-17 .rs-slider  .group-buttons{
	margin-top: 25px;
}
.rs-17 .rs-slider  .group-buttons .btn:first-child{
	margin-right: 30px;
}
.rs-17 .rs-slider .btn {
	padding: 9px 20px;
	font-size: 18px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	-webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.rs-17 .rs-slider .btn-color {
	border: 2px solid transparent;
}

.rs-17 .rs-slider .btn-outline {
	border: 2px solid #121314;
}

.rs-17 .rs-slider .slick-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
	padding: 0;
	text-align: center;
	margin-left:  0;
}
.rs-17 .rs-slider .slick-dots li {
    display: inline-block;
    margin: 8px;
	padding: 0;
}
.rs-17 .rs-slider .slick-dots li button {
    font-size: 0;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    outline: none;
    color: transparent;
    background-color: transparent;
	text-indent: -9999px;
	border: 1px solid #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.35);
	padding: 0;
}
.rs-17 .rs-slider .slick-dots li.slick-active button {
    background-color: #fff;
}
.rs-17 .rs-slider .slick-prev,
.rs-17 .rs-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
	opacity: 1;
    display: block;
    width: 44px;
	height: 44px;
	border-radius: 44px;
	color: #fff;
    margin-top: -22px;
    padding: 0;
	z-index: 200;
    cursor: pointer;
	text-align: center;
	border: 2px solid #fff;
    outline: none;
    background: transparent;
}
.rs-17 .rs-slider .slick-prev {
    left: 15px;
	-webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
}
.rs-17 .rs-slider .slick-next{
    right: 15px;
	-webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
}
.rs-17 .rs-slider:hover .slick-next,
.rs-17 .rs-slider:hover .slick-prev{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.rs-17 .rs-slider .slick-prev:before,
.rs-17 .rs-slider .slick-next:before{
	display: inline-block;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #fff;
	line-height: 28px;
}
.rs-17 .rs-slider .slick-prev:before{
	content: "\f104";
	padding-right: 3px;
}
.rs-17 .rs-slider .slick-next:before{
	content: "\f105";
	padding-left: 3px;
}
.rs-17 .rs-slider .topAnima,
.rs-17 .rs-slider .bottomAnima{
    opacity: 0;
}
.rs-17 .rs-slider .slick-active .topAnima {
    opacity: 1!important;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
	-webkit-animation-duration: 1s;
    animation-delay: 0.7s;
    visibility: visible !important;
}
.rs-17 .rs-slider .slick-active .bottomAnima {
    opacity: 1 !important;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 1s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
    visibility: visible !important;
}
@media (min-width: 1800px){
	.slider-img {
		width: 100%;
	}
}
@media (max-width: 1199px) {
	.rs-17 .rs-slider  .slider-inner h2 {
		font-size: 28px;
	}
	.rs-17 .rs-slider  .slider-inner h3 {
		font-size: 20px;
	}
	.rs-17 .rs-slider .btn {
		font-size: 16px;
		padding: 6px 29px;
	}
	.rs-17 .rs-slider  .slider-inner-v2 p,
	.rs-17 .rs-slider  .slider-inner-v1 p {
		font-size: 14px;
		line-height: 18px;
	}
	.rs-17 .rs-slider  .group-buttons {
		margin-top: 10px;
	}
	.rs-17 .rs-slider .slick-prev,
	.rs-17 .rs-slider .slick-next {
		width: 33px;
		height: 33px;
	}
	.rs-17 .rs-slider .slick-prev:before,
	.rs-17 .rs-slider .slick-next:before {
		font-size: 30px;
		line-height: 16px;
	}
	.rs-17 .rs-slider .slick-prev:before {
		padding-right: 2px;
	}
	.rs-17 .rs-slider .slick-next:before {
		padding-left: 2px;
	}
	.rs-17 .rs-slider .slick-dots{
		bottom: 0;
	}
	.rs-17 .rs-slider .slick-dots li {
		margin: 4px;
		bottom: 10px;
	}
	.rs-17 .rs-slider .slick-dots li button {
		width: 10px;
		height: 10px;
	}
}
@media (max-width: 991px){
	.rs-17 .rs-slider .btn {
		font-size: 12px;
	}
	.rs-17 .rs-slider  .slider-inner h2 {
		font-size: 20px;
	}
	.rs-17 .rs-slider  .slider-inner h3 {
		font-size: 17px;
		margin-top: 5px;
	}
}
@media (max-width: 767px) {
	.rs-17 .rs-slider,
	.rs-17 .rs-slider .rs-slider-container {
		height: 400px!important;
	}
	.rs-17 .rs-slider  .slider-item {
		text-align: center;
		top: 0;
		left: 0;
		height: 400px!important;
		z-index:10;
	}
	.rs-17 .rs-slider  .slider-item-img {
		display: inline-block;
		position: absolute;
		left: 50%;
		height: 400px!important;
	}
	.rs-17 .rs-slider  .slider-item-img img {
		position: relative;
		left: -50%;
		height: 100%;
		max-width: none;
	}
	.rs-17 .rs-slider  .slick-list,
	.rs-17 .rs-slider .slick-track {
		height: 400px!important;
	}
	.rs-17 .rs-slider .btn {
		font-size: 14px;
	}
	.rs-17 .rs-slider .slider-info .container {
		padding-left: 35px;
		padding-right: 35px;
	}
	.rs-17 .rs-slider .slick-next, .rs-17 .rs-slider .slick-prev {
		display: none!important;
	}
}
@media (max-width: 412px){
	.rs-17 .rs-slider  .group-buttons .btn:first-child{
		margin-right: 0;
	}
	.rs-17 .rs-slider  .group-buttons .btn {
		width: 90%;
		margin-bottom: 15px;
	}
}

/* Добавлено для корректировки стилей темы */

.rs-17 .rs-slider .btn-color {
	background-color: #DA251C;
	color: #fff;
}

.rs-17 .rs-slider .btn-color:hover,
.rs-17 .rs-slider .btn-color:focus {
	background-color: #196FE4;
	color: #fff;
	outline: none;
}

.rs-17 .rs-slider .btn-outline {
	background-color: transparent;
	color: #fff;
}

.rs-17 .rs-slider .btn-outline:hover,
.rs-17 .rs-slider .btn-outline:focus {
	background-color: #fff;
	color: #424242;
	outline: none;
}

.rs-17 .rs-slider .slider-inner-v2 h2,
.rs-17 .rs-slider .slider-inner-v2 h3,
.rs-17 .rs-slider .slider-inner-v2 h4,
.rs-17 .rs-slider .slider-inner-v2 h5,
.rs-17 .rs-slider .slider-inner-v2 h6,
.rs-17 .rs-slider .slider-inner-v2 p {
	color: #212121;
    text-shadow: none;
}
.rs-17 .rs-slider .slider-inner-v2 .slider-inner-text {
	text-shadow: none !important;
}