.rs-17 .rs-reviews{
	padding-bottom: 50px;
	min-height: 469px;
	background: #dbdbdb;
	background-size: cover;
}
.rs-17 .rs-reviews .section-title {
	position: relative;
	margin-top: 40px;
	font-size: 36px;
	font-weight: 400;
	color: #fff;
	padding: 10px;
}
.rs-17 .rs-reviews .section-title--text {
	display: inline-block;
	font-size: 36px;
	font-weight: 300;
	background-color: transparent;
	width: auto;
	padding: 10px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
.rs-17 .rs-reviews .section-descr{
	width: 70%;
	text-align: center;
    margin: 25px auto 40px;
}
.rs-17 .rs-reviews .section-descr p{
	font-size: 18px;
	color: #bdbdbd;
	text-align: center;
	color: #fff;
}
.rs-17 .rs-reviews .reviews-slider{
	width: 100%;
	margin: 0 auto;
	max-width: 1060px;
	}
.rs-17 .rs-reviews .reviews-content{
	width: 100%;
	text-align: center;
	    display: block;
    position: relative;
    padding: 20px 50px;
	background-color: rgba(250,250,250,.2);
	margin-bottom: 20px;
	border-radius: 7px;
}
.rs-17 .rs-reviews .reviews-content:before {
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    z-index: 1;
    content: '';
    margin-top: 0;
    margin-left: -12px;
    position: absolute;
    border-top: 12px solid rgba(250,250,250,.2);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.rs-17 .rs-reviews .reviews-content:hover,
.rs-17 .rs-reviews .reviews-content:focus {
    text-decoration: none;
}
.rs-17 .rs-reviews .reviews-quote p{
	color: #fff;
}
.rs-17 .rs-reviews .reviews-name{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
.rs-17 .rs-reviews .reviews-img {
	width: 100%;
    overflow: hidden;
    text-align: center;
	min-height: 70px;
}
.rs-17 .rs-reviews .reviews-item img{
	width: 70px;
	height: 70px;
	max-width: 70px;
    margin: auto;
    border-radius: 6px;
}
.rs-17 .rs-reviews .reviews-slider{
	height: 0;
	-moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
	overflow: hidden;
}
.rs-17 .rs-reviews .reviews-slider.owl-loaded{
	height: auto;
}
.rs-17 .rs-reviews .owl-navigation {
    top: 100%;
    left: 50%;
    margin-top: -50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
}
.rs-17 .rs-reviews .owl-navigation a {
    height: 25px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
	cursor: pointer;
}
.rs-17 .rs-reviews .reviews-prev{
    z-index: 9;
    float: left;
    position: relative;
    margin-left: -35px;
}
.rs-17 .rs-reviews .reviews-next{
    z-index: 9;
    float: right;
    position: relative;
    margin-left: 75px;
}
@media (max-width: 767px){
	.rs-17 .rs-reviews .section-title{
		font-size: 25px;
	}
	.rs-17 .rs-reviews .services-item--title h3{
		font-size: 18px;
	}
	.rs-17 .rs-reviews .reviews-content{
		 padding: 20px;
	}
	.rs-17 .rs-reviews .section-descr{
		width: 100%;
	}
}
@media (max-width: 480px){
	.rs-17 .rs-reviews .services-item--title h3{
		font-size: 16px;
	}
	.rs-17 .rs-reviews .services-item:hover h3{
		font-size: 18px;
	}
}

.rs-17 .rs-page .reviews-img {
	width: 100%;
    overflow: hidden;
    text-align: center;
    min-height: 70px;
    margin-bottom: 30px;
}
.rs-17 .rs-page .reviews-img img {
	width: 70px;
    max-width: 100%;
    margin: auto;
    border-radius: 6px;
}